/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ------------ VARIABLES ------------ */
:root {
    /* FONT */
    --font: 'Poppins', sans-serif;

    /* COLORS */
    --color: #F24405;
    --bg_color: #F2F2F2;
}

/* ------------ BASE ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_carrosel {
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
}

/* ----------- SLIDER ------------ */
.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

.card {
    width: 20em;
    height: 90%;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(1px);
}

.card__image {
    width: 10em;
    height: 10em;
    padding: 3px;
    margin-bottom: 2em;
    border-radius: 5px;
}

.card__image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__title {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
}

.card__name {
    margin-top: 5px;
    color: var(--color);
}

.card__text {
    text-align: justify;
    font-size: 1.1rem;
    margin: 1em 0;
}

.card__btn {
    background-color: var(--color);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}

ul {
    position: relative;
    display: flex;
    gap: 25px;
}

ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

/* Adicionando estilos para o <a> */
ul li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
}

ul li:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

ul li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--1), var(--j));
    opacity: 0;
    transition: 0.5s;
}

ul li:hover::before {
    opacity: 1;
}

ul li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
}

ul li:hover::after {
    opacity: 0.5;
}

ul li i {
    color: #777;
    font-size: 1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
}

ul li:hover i {
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
}

ul li span {
    position: absolute;
}

ul li .titulo {
    color: #fff;
    font-size: 1.1em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

ul li:hover .titulo {
    transform: scale(1);
    transition-delay: 0.25s;
}