@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* ------------ VARIABLES ------------ */
:root {
    /* FONT */
    --font: 'Montserrat', sans-serif;
    --font_btn:'Poppins', sans-serif;

    /* COLORS */
    --color: #F24405;
    --bg_color: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    background-color: var(--bg_color);
}

/* ---------------- About Project ---------------- */
.container_project{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.card_description_about_project{
    padding: 5px 25px 0px 25px;
    border-radius: 20px;
    margin: 0 100px 0 100px;
    width: 80%;
    height: 240px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.card_about_project{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_title{
    font-size: larger;
    text-align: center;
}

.project_txt{
    margin-top: 10px;
    text-align: justify;
}

/* ---------------- Slide About us ---------------- */



/* ----------------- Hover Sensor ----------------- */

.conterner_sensor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    position: relative; /* Para lidar com os cards sobrepostos */
}

.card {
    width: 250px;
    height: 225px; /* Altura inicial */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.5s ease;
    z-index: 1;
}

.card-header {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-header img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    color: black;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
    z-index: 2;
}

.card-content h3 {
    font-size: larger;
    text-align: center;
}

.card-content p {
    text-align: justify;
    margin: 10px 0;
}

.card:hover {
    z-index: 10; /* Garante que o card hover fica sobre os outros */
}

.card:hover .card-content {
    height: 100%; /* Expande o conteúdo sobre o card */
    opacity: 1; /* Torna o conteúdo visível */
    position: absolute;
}

/* Ao passar o mouse, os outros cards somem */
.card-container:hover .card {
    opacity: 0.2;
    visibility: visible;
    transition: opacity 0.5s ease;
}

/* O card que está com hover ganha opacidade total */
.card:hover {
    opacity: 1 !important;
    visibility: visible !important;
}

.read-more {
    display: block;
    margin: 10px auto; /* Centraliza horizontalmente */
    padding: 8px 12px;
    color: var(--color);
    text-decoration: none;
    border-radius: 5px;
    text-align: center; /* Centraliza o texto no botão */
    transition: background-color 0.3s ease;
    width: fit-content; /* Ajusta o tamanho do botão conforme o conteúdo */
}

.read-more:hover {
    color: var(--bg_color);
    background-color: var(--color);
}