@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* ------------ VARIABLES ------------ */
:root {
    /* FONT */
    --font: 'Montserrat', sans-serif;
    --font_btn:'Poppins', sans-serif;

    /* COLORS */
    --color: #F24405;
    --bg_color: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    background-color: var(--bg_color);
}

/* ------------------- Gallery ------------------- */
/* Estilos para a galeria de imagens */
.gallery {
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
}

/* Estilo da imagem ao passar o mouse */
.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Imagem focada (quando o mouse está sobre ela) */
.gallery img.hover {
    transform: scale(1.05);
}

/* Opacidade reduzida das outras imagens */
.gallery img.dimmed {
    opacity: 0.3;
}


.gallery img:hover {
    transform: scale(1.05);
}

/* Estilo da lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo da imagem dentro da lightbox */
.lightbox img {
    width: 100vw;
    /* Largura da imagem igual à largura da viewport */
    height: 100vh;
    /* Altura da imagem igual à altura da viewport */
    object-fit: contain;
    /* Garante que a imagem mantenha a proporção */
}

/* Estilos para os botões de navegação */
.lightbox .prev,
.lightbox .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: var(--color);
    padding: 10px;
    cursor: pointer;
    border: none;
    transform: translateY(-50%);
    /* Alinha verticalmente os botões */
}

.lightbox .prev {
    left: 10px;
}

.lightbox .next {
    right: 10px;
}

/* Botão de fechar */
.lightbox .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    color: var(--color);
    cursor: pointer;
}


/* ----------------- About Project ---------------- */
.container_project{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.card_description_about_project{
    background-color: var(--bg_color);
    padding: 5px 25px 0px 25px;
    border-radius: 20px;
    margin: 0 100px 0 100px;
    width: 80%;
    height: 240px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card_about_project{
    background-color: var(--bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_title{
    color: var(--color);
    background-color: var(--bg_color);
    font-size: larger;
    text-align: center;
}

.project_txt{
    background-color: var(--bg_color);
    margin-top: 10px;
    text-align: justify;
}

/* ---------------- Slide About us ---------------- */



/* ----------------- Hover Sensor ----------------- */

.conterner_sensor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    width: 250px;
    height: 200px;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: height 0.5s ease, opacity 0.3s ease;
    position: relative;
    opacity: 1;
    visibility: visible;
}

.card-header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
}

.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    background-color: transparent;
    color: black;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, height 0.4s ease;
}

.card-content h3{
    color: var(--color);
    text-align: center;
}

.card-content p{
    text-align: justify;
}

.card-content h3, .card-content p {
    margin: 10px 0;
}

.card:hover {
    height: 450px;
}

.card:hover .card-header {
    height: 50%;
}

.card:hover .card-content {
    height: 50%;
    opacity: 1;
    position: relative;
}

/* Ao passar o mouse, os outros cards somem */
.card-container:hover .card {
    opacity: 0.2;
    visibility: visible;
    transition: opacity 0.5s ease;
}

/* O card que está com hover ganha opacidade total */
.card:hover {
    opacity: 1 !important;
    visibility: visible !important;
}

.read-more {
    display: block;
    margin: 10px auto; /* Centraliza horizontalmente */
    padding: 8px 12px;
    color: var(--color);
    text-decoration: none;
    border-radius: 5px;
    text-align: center; /* Centraliza o texto no botão */
    transition: background-color 0.3s ease;
    width: fit-content; /* Ajusta o tamanho do botão conforme o conteúdo */
}

.read-more:hover {
    color: var(--bg_color);
    background-color: var(--color);
}